/* Common Style Added */
* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* shared styles Add*/
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.prymari-btn{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;

}
.prymari-btn a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/* Navber section style */
.nav-title h2{
    color: #131318;
    font-size: 44px;
    font-weight: 800;
}
.nav-title-spn{
    color: #FF5400;
}
.nav-title{
    display: flex;
    gap: 7px;
}
nav{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    display: flex;
    gap: 48px;
}
.nav-options li{
    list-style: none;

}
.nav-options li a{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.dropdown{
    display: none;
}
.fst-li a{
    color: #FF5400;
    font-weight: 700px;
}

/* banner section style */

.banner-text h1{
    color: #FFF;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-text p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.banner-txt-area{
    padding-top: 170px;
    text-align: center;
    
}
.banner-text{
    width: 730px;
    margin: 0 auto;

}
.banner-input{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
#input-field{
    width: 174px;
    height: 52px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 18px;
    font-weight: 400;
}
#banner-area{
    margin-top: 70px;
    height: 620px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/webbanner.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

/* popular tours section style */

.popular-text-area h1{
    color: #131318;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
}
.popular-text-area p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
}
.popular-text-area > ul >  li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
}
.popular-text-area > ul{
    padding: 25px;
    margin: 20px;
}

.prymary-btn{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 40px;
}
.prymary-btn a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.popular-text-area{
    width: 55%;
}
.popular{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

/* Additional Section Style */
.card img{
    width: 300px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card img:hover{
    transform: scale(1.05);
}
.card h2{
    color: #131318;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card p{
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
}
.rating{
    background-color: #f2fb00;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}
.card{
    padding: 10px;
    width: 320px;
    height: 350px;
    border-radius: 5px;
    background: #B2BEB5;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.popular-plase{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.popular-pls{
    color: #FF5400;
}
.plase{
    margin-top: 100px;
}
.top-reviw{
    display: flex;
    justify-content: space-around;

}

 /* Choose Your Destination Section Style */

 #iteam{
    margin-top: 80px;
}
.iteam-grid h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.iteam-grid p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.iteam-grid{
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}
#immages{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#immages h4{
    position: absolute;
    margin-top: 10px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-area{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;

}
.image-area img{
    width: 100%;
    height: auto;
    
}
.maldiv{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.indonesia{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.srilanka{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.amerika{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.kasmir{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.bd{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
    
}
.bandarban{
    grid-column: 6/span 7;
}

























/* Responsive Style Added   */

/* For Tablet Size Devices Responsive */

        /* Navber Responsive */
           @media screen and (min-width: 600px) and (max-width: 982px){

            *{
                box-sizing: border-box;
            }

            #nav-list{
                display: none;
            }  
            .dropdown{
                display: block;
            }
            .nav-title h2{
                font-size: 35px;
            }
            .nav-title img{
                width: 50px;
            }
            nav{
                margin-top: 35px;
                padding: 0px 20px 0px 15px;
            }

           }

            /* Banner Section Responsive */
            .banner-text h1{
                font-size: 40px;
                margin-bottom: 15px;
            }
            .banner-text p{
                font-size: 18px;
            }
            .banner-txt-area{
                padding-top: 50px;
            }
            .banner-text{
                width: 100%;
                padding: 5px;
            }
            .banner-input{
                flex-direction: column;
            }
            #input-field{
                width: 265px;
                font-size: 16px;
            }
            #banner-area{
                margin-top: 40px;
                margin-left: 10px;
                margin-right: 10px;
                height: 600px;
                background-position: bottom;
            }
            .prymari-btn{
                width: 265px;
            }















            /* For Small Devices like of Mobile Phone */
                /* Navber Responsive */

        @media screen and (max-width: 600px){
            #nav-list{
                display: none;
            }  
            .dropdown{
                display: block;
            }
            .nav-title h2{
                font-size: 28px;
            }
            .nav-title img{
                width: 43px;
            }
            nav{
                margin-top: 30px;
                padding: 0px 15px 0px 10px;
            }


            /* Banner Section Responsive */
            .banner-text h1{
                font-size: 30px;
                margin-bottom: 15px;
            }
            .banner-text p{
                font-size: 15px;
            }
            .banner-txt-area{
                padding-top: 45px;
            }
            .banner-text{
                width: 100%;
                padding: 5px;
            }
            .banner-input{
                flex-direction: column;
            }
            #input-field{
                width: 265px;
                font-size: 16px;
            }
            #banner-area{
                margin-top: 40px;
                margin-left: 10px;
                margin-right: 10px;
                height: 600px;
                background-position: bottom;
            }
            .prymari-btn{
                width: 265px;
            }
        


        }
